doctype html
html
  head
    title Base Editor
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(content='yes', name='apple-mobile-web-app-capable')

    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    script.
      require('initialize');

  body
